// 全局公共样式
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

table {
    border-collapse: collapse;
    text-align: left;
    padding: 0;
}

i {
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

*:before,
*:after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
}

em {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
}
